/**
 * Header
 */
header {
  
  margin: 20px;
  margin-left: 80px;

  h1 {
    display: inline;
  }

  .logo {
    width: 80px;
    display: inline-block;
  } 
}

/**
 * Status Page
 */
.status-page {
  margin: 80px auto;
  width: $content-width;
  @extend %clearfix;
  
  .status-map {
    float: left;
  
    .status-title {
      color: $accent-color;
    }
    
    .map {
      width: 210px;
    }
  }
  
  .status-rapport {
    float: left;
    margin: 80px;
    
    .rapported-near-you {
      color: $accent-color;
    }
    
    .other-events {
      margin-top: 80px;
    
      .rapported-other {
        color: $accent-color;
        opacity: .4;
      }
    }
  }
}


#map {
  position: absolute;
  z-index: 10;
  top: 93px;
  left: 152px;
  width: 434px;
  height: 266px;
  background-color: gray;
  
  img {
    width: 100px;
    float: right;
  }
  
  p {
    color: black;
    float: left;
    width: 200px;
  }
}






#totally-calid-coding {
  position: absolute;
}
