/**
 * Status Page
 */
.status-page {
  margin: 80px auto;
  width: $content-width;
  
  .status-title {
    margin-left: 100px;
  }
  .status-text {
    display: inline;
    margin: 80px;
  }

  .map {
    width: 230px;
    float: left;
  }
  
  .other-events {
    margin: 160px;
  }
}


/**
 * Timeline
 */
.timeline {
  background: #6a6a6a;
}
