@charset "utf-8";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic);
/*
@font-face {
    font-family: "DINCond-Regular";
    src: url("assets/fonts/FF_DIN_Condensed_Regular.otf");
}
@font-face {
    font-family: "DINCond-Medium";
    src: url("assets/fonts/FF_DIN_Condensed_Medium.otf");
}
@font-face {
    font-family: "DINCond-Bold";
    src: url("assets/fonts/FF_DIN_Condensed_Bold.otf");
}
*/

/**
 * Variables
 */
$font-family: "DINCond-Regular", serif;
$font-weight:       400;
$font-size-base:   14px;
$font-size-small:  11px;
$base-line-height:  1.5;

$spacing-unit:     30px;

$text-color:       #eeeeee;
$accent-color:     #fa9f42;
$background-color: #263238;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;



@import
        "base",
        "layout"
;
