@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic);
/*
@font-face {
    font-family: "DINCond-Regular";
    src: url("assets/fonts/FF_DIN_Condensed_Regular.otf");
}
@font-face {
    font-family: "DINCond-Medium";
    src: url("assets/fonts/FF_DIN_Condensed_Medium.otf");
}
@font-face {
    font-family: "DINCond-Bold";
    src: url("assets/fonts/FF_DIN_Condensed_Bold.otf");
}
*/
/**
 * Variables
 */
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 14px "DINCond-Regular", serif;
  color: #eeeeee;
  background-color: #263238;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 11px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #eeeeee;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(960px - (30px * 2));
  max-width: calc(960px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }

/**
 * Clearfix
 */
.wrapper:after, .status-page:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Header
 */
header {
  margin: 20px;
  margin-left: 80px; }
  header h1 {
    display: inline; }
  header .logo {
    width: 80px;
    display: inline-block; }

/**
 * Status Page
 */
.status-page {
  margin: 80px auto;
  width: 960px; }
  .status-page .status-map {
    float: left; }
    .status-page .status-map .status-title {
      color: #fa9f42; }
    .status-page .status-map .map {
      width: 210px; }
  .status-page .status-rapport {
    float: left;
    margin: 80px; }
    .status-page .status-rapport .rapported-near-you {
      color: #fa9f42; }
    .status-page .status-rapport .other-events {
      margin-top: 80px; }
      .status-page .status-rapport .other-events .rapported-other {
        color: #fa9f42;
        opacity: .4; }

#map {
  position: absolute;
  z-index: 10;
  top: 93px;
  left: 152px;
  width: 434px;
  height: 266px;
  background-color: gray; }
  #map img {
    width: 100px;
    float: right; }
  #map p {
    color: black;
    float: left;
    width: 200px; }

#totally-calid-coding {
  position: absolute; }
